.input{
    border: none;
    border-radius: 2px;
    padding: 3%;
    width: 80%;
    font-size: large;
    border: 1px solid #aeaeae;
}
.input:focus{
    outline: none;
}
.sendButton{
    color: white;
    text-decoration: none;
    background: linear-gradient(to left,rgb(240, 132, 222), rgb(247, 182, 99));
    padding: 10px;
    display: inline-block;
    border: none;
    width: 20%;
}
.form{
    display: flex;
    border: 1px solid white;
}