body{
    margin: 0px;
}
.contact_container{
    height: 100%;
    display: inline-block;
    margin-left: 72px;
}
.contact_menu_div{
    width: 96%;
    height: 100%;
    position: relative;
    display: inline-block;
    background-color: white;
    z-index: 100;
    margin-left: 50px;
}
.menu_container{
    position: relative;
}
.contact_menu_bar{
    position: relative;
    width: 100%;
    height: 60px;
    display: inline-block;
    padding: 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #c2c2c2;
    box-shadow: 0px .5px #c2c2c2;
}
.contact_list_div{
    position: relative;
    width: 100%;
    height: auto;
    top: 10px;
}
.cf_content_container{
    position: relative;
    padding-top: 20px;
    display: inline-block;
    transform: translate(11%, 0%);
}
.cf_content_card{
    position: relative;
    width: 600px;
  border-radius: 10px 10px;
}
.cf_content_header{
    position: relative;
    height: 50px;
    padding: 1px;
  background-color: #f8f8f8;
  color: black;
}
.grid_header{
    position: relative;
    width: 40px;
    padding: 20px;
    display: inline-block;
}
.grid_header_basic{
    position: relative;
    width: 300px;
    color: #929291;
    display: inline-block;
}
.grid_header_company{
    position: relative;
    width: 100px;
    color: #929291;
    display: inline-block;
}
h3{
    color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  margin-left: 1rem;
}
.iconM{
    font-size: 18px;
    margin-left: 220px;
    color: orangered;
}
.icon{
    margin-right: 8px;
  }
.icon_header{
    margin-left: 150px;
}
.submenu_collapse{
    display: none;
}
.submenu_expand{
    display:block;
}
.submenu_anim{
    transition: ease-in-out 5s;
}
.c_column{
    position: relative;
    width: 590px;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #fff;
    display: inline-block;
    padding-left: 10px;
}
.contact_edit_header{
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.contact_edit_header_name{
    position: relative;
    justify-content: center;
}
.col_h_name{
    position: relative;
    display: block;
    font-size: large;
    font-weight: bold;
    color: black;
    text-align: center;
}
.col_h_email{
    position: relative;
    display: block;
    text-align: center;
    font-size: x-small;
    color: rgb(140 139 139);
}

.col_company{
    position: relative;
    display: inline-block;
    color: black;
    font-size: 12px;
    font-weight: bold;
}
.row{
    position: relative;
    padding: 20px;
    align-items: center;
}
.row ::after{
    content: "";
    display: table;
    clear: both;
}
.col_name{
    position: relative;
    display: inline-block;
    left: 20px;
    font-size: large;
    font-weight: bold;
    color: black;
}
.col_email{
    width: 150px;
    position: relative;
    display: inline-block;
    font-size: x-small;
    color: rgb(214, 212, 212);
}
.contact_basic_info{
    width: 300px;
    padding: 10px;
    display: inline-block;
    margin-left: 10px;
}
.round{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: inline-block;
    border: 1px solid black;
}
.col_edit, .col_chat, .col_view{
    position: relative;
    width: 40px;
    height: 40px;
    left: 150px;
    display: inline-block;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.col_edit, .col_chat, .col_view:focus{
    outline: none;
}
.col_edit:hover{ 
    color: red;
}
.col_chat:hover{
    color: red;
}
.col_view:hover{
    color: red;
}
.contact_display{
    position: relative;
    width: 500px;
    height: 500px;
    display: inline-block;
    float: right;
    margin-left: 100px;
    margin-top: 20px;
    background-color: #f8f8f8;
    box-shadow: 1px 1px 5px rgb(176, 176, 176);
}
.hide{
    display: none;
}
.show{
    display: inline-block;
}
.contact_add{
    position: relative;
    float: right;
    align-items: baseline;
    margin-top: 470px;
    margin-right: 70px;
}
.add_button{
    position: relative;
    width: 125px;
    height: 35px;
    background-image: linear-gradient(to left,rgb(240, 132, 222), rgb(247, 182, 99));
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-left: 20px;
    box-sizing: border-box;
    box-shadow: 1px 1px 20px rgb(235, 238, 240);
}
.search_field{
    margin-left: -20px;
}
.add_button::before{
    content: "+";
    color: white;
    margin-right: 5px;
}
.contact_edit_img{
    position: absolute;
    align-items: center;
}
.round_add{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: inline-block;
    background-color: #ecde1a;
}
.round_add::before{
    content: "A";
    font-size: larger;
    color: white;
}
.contact_name{
    position: relative;
    display: block;
    top: 30px;
}
.textbox{
    width: 200px;
    height: 20px;
    border: none;
    color: #a2a1a1;
    font-size: large;
    background: transparent;
    display: inline-flex;
    padding: 5px;
    justify-content: flex-start;
    margin-left: 50px;
    border-bottom:  0.2px solid #f8f8f8;
}
.text_out{
    position: relative;
    display: inline-block;
}
.textbox:focus{
    outline: none;
}
::placeholder{
    color: rgb(161, 160, 161);
}
.save_button{
    position: relative;
    width: 100px;
    height: 50px;
    top: 30px;
    color: white;
    display: inline-block;
    border: 1px solid #1E2B32;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
}
.out:focus{
    outline: none;
}
.username{
    position: relative;
    width: 200px;
    height: 30px;
    float: right;
    align-items: center;
}
.contact_search{
    position: relative;
    width: 30px;
    height: 30px;
    display: inline-block;
    align-items: center;
    border-radius: 50%;
    background-color: #f7f5f5;
}
.search_pad{
    padding: 5px;
}
.icons_padding{
    margin-right: 20px;
}
.icons_r_padding{
    margin-left: 20px;
}
.drp-contact{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
}
.list_remove li{
    color: black;
    width: 150px;
    list-style: none;
    display: block;
    margin-left: 0px;
    border-radius: 6px;
    cursor: pointer;
}
.username:hover .drp-contact{
    display: block;
}
.left{
    width: 150px;
    height: 50px;
    border: none;
    display: block;
    border-bottom: 1px solid #2A3942;
    cursor: pointer;
}
.left:hover{
    transition: 1.5s all;
    border-bottom: 1px solid red;
    color: red;
}
.link_remove{
    text-decoration: none;
}
.sidemenu_div{
    height: 500px;
    position: fixed;
    display: inline-block;
}
.contact_home{
    padding: 15px;
}
.sidebar{
    margin-left: -10px;
    margin-right: 10px;
    border-left: 5px solid white;
}
.contact_menu{
    height: 80px;
    margin: 10px;
}
.side_container{
    width: 50px;
    height: 700px;
    padding: 10px;
    border-right: 2px solid linear-gradient(to top, rgb(240, 132, 222), rgb(247, 182, 99));
    background-image: linear-gradient(to top, rgb(240, 132, 222), rgb(247, 182, 99));
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 2px 1px rgb(226, 226, 226);
}
.contact_header{
    position: relative;
    height: 200px;
    display: block;
}
.address_book{
    display: inline-block;
    color: white;
    background-image: linear-gradient(to top, rgb(240, 132, 222), rgb(247, 182, 99));
}
.contact{
    display: block;
    height: 0px;
    padding: 10px;
    color: black;
    font-size: x-large;
    font-weight: bold;
}
.c_search{
    width: 500px;
    height: 200px;
    position: relative;
    display: inline-block;
    transform: translate(13%, 5%);
}
.contact_search_text{
    width: 250px;
    height: 35px;
    background-color: #f8f8f8;
    border: 1px solid #f8f8f8;
    color: black;
    border-radius: 50px;
}
.contact_search_text::after{
    content: "\f002";
}
::placeholder{
    color: #a7aaaa;
    padding: 10px;
}
.c_header{
    position: relative;
    height: 130px;
    display: block;
    transform: translate(2%, 5%);
}
.contact_header_div{
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;
}
.welcome_note{
    color: #cdcdce;
    font-size: 15px;
}
.sort{
    position: relative;
    display: inline-block;
    margin-left: px;
}
.sidemenu_link{
    color:white;
    text-decoration: none;
}
.checkbox_type{
    width: 30px;
    height: 20px;
}